<header>
<div class="container-fluid p-3 my-3 bg-dark text-white">
  <div class="row">
    <div class="col-*-*" style="margin-left: 10px;">
      <img src="/img/Logo_Polaris.png" class="rounded" alt="Logotipo">
    </div>
    <div class="col-*-*" style="color: #a7d0bb!important; margin-left: 10px;">
      {{#if dados.empresa }}
        <h2>{{dados.empresa}}</h2> 
      {{else}}
        <h2>Sistema Polaris</h2> 
      {{/if}}
    </div>
  </div>
</div>
</header>