<header>
<div class="container-fluid p-3 my-3 bg-dark text-white">
  <div class="row">
    <div class="col-*-*" style="margin-left: 10px;">
      <img src="/img/Logo_Polaris.png" class="rounded" alt="Logotipo">
    </div>
    <div class="col-*-*" style="color: #a7d0bb!important; margin-left: 10px;">
      <p>{{empresa}} Empresa exemplo SA</p> 
      <p> Sistema de Gestão Polaris</p>           
    </div>
  </div>
</div>
</header>