<menumain>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
        <a href="/app/cliente">Clientes</a>
        <a href="#">Fornecedores</a>
        <a href="#">Veiculos</a>
        <a href="#">Usuários</a>
        <a href="/logout">Logaut</a>
    </div>

    <div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav2()">&#9776; Menu</span>
    </div>

    <script src="/js/main.js"></script>
</menumain>    