<cadBanco>
    {{>header }}

    <div id="main">

        {{>menumain}}

        <div class="container">
            <h1>{{dados.tela}}</h1>
        </div>


        {{>selectBancos}}

    </div>
</cadBanco>

